body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    position: relative;
}

.nav-submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav-item:hover .nav-submenu {
    display: block;
    background-color: black; /* Черный фон для выпадающего меню */
}

.nav-option {
    cursor: pointer;
    padding: 5px;
    color: white; /* Цвет текста в выпадающем меню */
}

#container {
    display: flex;
}

#sidebar {
    width: 250px; /* Ширина сайдбара */
    background-color: #f0f0f0;
    padding: 20px;
}

#canvas-container {
    flex: 1;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
}

#file-input {
    display: none;
}
